@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
}

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}
